<html>
	<head>
		<link rel="stylesheet" href="/css/main.css">
	</head>
<body>
		
<div class="bar-left">
	<div>
    <div>
      <p class="option">Comece por aqui</p>
      <ul>
        <li><a href="#"> <a href="#">O que é o Fastcommerce?</a></li>
        <li><a href="#">Sobre a API</a></li>
        <li><a href="#">Como acesso a API?</a></li>
        <li><a href="#">Qual é a versão atual da API?</a></li>
      </ul>

    </div>
    <div>
      <p>&nbsp</p>
      <ul>
        <li><a href="#">Onde visualizo a lista de versões anteriores?</a></li>
        <li><a href="#">Qual o limite de acessos da API?</a></li>
        <li><a href="#">Como crio um usuário para API?</a></li>
      </ul>
    </div>
    <div>
      <p>&nbsp</p>
      <ul>
        <li><a href="#">Melhores práticas</a></li>
      </ul>
    </div>
    <div >
      <p>&nbsp</p>
      <ul>
        <li><a href="#">Lista de Relatórios</a></li>
        <li><a href="#">Lista de Utilitários</a></li>
      </ul>
    </div>
</div>  


  <div class="MainContainer">
    <div >
      <p class="option">Metódos</p>
      <ul>
        <li><a href="#">ReportView</a></li>
        <li><a href="#">UtilityExecute</a></li>
      </ul>
    </div>
    <div >
      <p>&nbsp</p>
      <ul>
        <li><a href="#">OrderUpdate</a></li>
        <li><a href="#">ProductManagement</a></li>
      </ul>
    </div>
    <div >
      <p>&nbsp</p>
      <ul>
        <li><a href="#">Permissões de acessos aos métodos</a></li>
      </ul>
    </div>
</div>


  <div class="MainContainer">
    <div >
      <p class="option">XML de retorno</p>
      <ul>
        <li><a href="#">XML de alteração de produtos</a></li>
        <li><a href="#">XML de inclusão de produtos</a></li>
        <li><a href="#">XML de exclusão de produtos</a></li>
      </ul>
    </div>
    <div >
      <p>&nbsp</p>
      <ul>
        <li><a href="#">XML de alteração de pedidos</a></li>
        <li><a href="#">XML Nodes</a></li>
      </ul>
    </div>
</div>


  <div class="MainContainer">
    <div >
      <p class="option"> Testes</p>
      <ul>
        <li><a href="#">Testando o método ReportView</a></li>
        <li><a href="#">Testando o método UtilityExecute</a></li>
      </ul>
    </div>
    <div >
      <p>&nbsp</p>
      <ul>
        <li><a href="#">Testando o método OrderUpdate</a></li>
        <li><a href="#">Testando o método ProductManagement</a></li>
      </ul>
    </div>
</div>

  <div class="MainContainer">
    <div >
      <p class="option">Exemplos</p>
      <ul>
        <li><a href="#">VBS</a></li>
        <li><a href="#">Java</a></li>
        <li><a href="#">PHP</a></li>
      </ul>
    </div>
    <div >
      <p>&nbsp</p>
      <ul>
        <li><a href="#">Java Script</a></li>
        <li><a href="#">Ruby</a></li>
      </ul>
    </div>
</div>      
</div>

<div class="dinamic">
	
</div>
</body>	

</html>